HandsLoggerWithURDF/Assets/URDF/kinova_description/
HandsLoggerWithURDF/Assets/Particle Ribbon by Moonflower Carnivore/
HandsLoggerWithURDF/tempdata/PID 0 (test)/

*.meta
*.txt

.ipynb_checkpoints/

data/
pre_proposal_data/
